#placeBoard{
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: #3f3f3f;
    border-radius: 12px;
    color: #aaaaaa;

    font-family: "DM serif display", serif;
    font-style: italic;

    min-height: 500px;

    display: flex;
    flex-direction: column;
}
